@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    position: fixed !important;
    top: 0px;
    /* background-color: rgba(100, 100, 100, 0.5) !important; */
    -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
    min-width: 100vw;
    z-index: 1;
}

.nav-link{
    color: white !important;
}

.navbar-brand{
    color: coral !important;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Stick No Bills', sans-serif;
}
.nav-link:hover{
    color: coral !important;
}

.home img{
    width: 100%;
    filter: brightness(0.4);
    z-index: -1;
    max-height: 100vh;
}

.d-flex{
    margin-right: 25px;
}

.form-control{
    border-radius: 25px !important;
}
.radius{
    border-radius: 25px !important;
}
.dropdown-menu{
   background-color: transparent !important;
   border: 1px solid #121212 !important;
   backdrop-filter: blur(10px) !important;
}
.dropdown-item{
    color: white !important;
    font-weight: bold !important;
    background-color: transparent !important;
}
.dropdown-item:hover{
    color: coral !important;
}

.navbar-toggler{
    background-color: #fff !important;
}

.textbox{
    max-width: 40vw;
    min-height: 45vh;
    /* background-color: red; */
    position: absolute;
    top: 50%;
    left: 25%;
    margin: auto;
    /* z-index: 10; */
    transform: translate(-50%,-50%);
}
.textbox h1{
    color: coral;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 10px;
}
.textbox p{
    margin: auto;
    color: #fff;
    text-align: justify;
    margin-bottom: 10px;
}
.btn-coral{
    background-color: coral !important;
    color: white !important;
    margin-right: 10px;
}
.btn-coral:hover{
    background-color: transparent !important;
    border: 1px solid coral !important;
    box-sizing: border-box !important;
}

.display {
    margin-top: 10px;
    max-width: 100vw !important;
}
.display h1{
    text-align: center;
color: #121212;
font-weight: bold;
}
.display span{
    color: coral;
    letter-spacing: 5px;
    font-family: 'Stick No Bills', sans-serif;
}
.row{
    margin: 20px auto !important;
    max-width: 80vw;
    /* margin-bottom: 40px !important; */
}
.col{
    margin-bottom: 20px !important;
    transition: 1s all ease;
}
.col:hover{
    transform: translateY(-10px);
}
.card img{
    max-height: 70vh;
    /* max-width: 50vh; */
}
.card-title{
    text-align: center;
}

.form{
    max-width: 100%;
    height: 100vh;
    background-image: url(../image/login.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* z-index: -1; */
    display: flex;
    align-items: center;
}

.details{
    margin-left: 10vh;
    max-width: 50%;
    min-height: 55vh;
    border: 1px solid coral;
    backdrop-filter: blur(2.5px);
    border-radius: 20px;
    /* z-index: 100; */
}
.details h1{
    color: coral;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}
.details p{
    color: coral;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
.details span{
    color: white;
}
.input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.input input{
    width: 40vw;
    border: none;
    height: 5vh;
    border-radius: 15px;
    outline: none;
    margin: 10px;
    padding: 10px;
    font-family: "stick no bills",cursive;
}

.input input::-webkit-inner-spin-button{
    visibility: hidden;
}
.shop{
    margin: 10px;
    display: flex;
    justify-content: center;
}



